aiofiles==25.1.0
alembic==1.16.5
apache-airflow==3.2.0
clickhouse_driver==0.2.10
fastapi==0.136.0
minio==7.2.20
minio_async==1.0.1
miniopy_async==1.23.5
numpy==2.4.4
pandas==3.0.2
psycopg2==2.9.11
pydantic==2.13.2
pydantic_settings==2.13.1
pyspark==4.0.1
scipy==1.17.1
SQLAlchemy==2.0.49
statsmodels==0.14.6
uvicorn==0.44.0
python-multipart==0.0.6
asyncpg>=0.28
apache-airflow-providers-trino
apache-airflow-providers-postgres