.idea
*.iml
*.ipr
*.iws
venv/
*.pyc
*.pyo
*.pyd
.env
.venv
*.idea
__pycache__/
log/minio-data/
log/airflow-project/logs/
log/clickhouse-data
log/p.py
log/output.txt
main-service/backend/p.py
main-service/output.txt

